name: "Test on push"
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - run: npm ci
      - run: npm run build
      - run: npm test
      - uses: ./
        with:
          dirPath: ./sampleFiles
        id: create_csv
